body
{
	color: #000000;
}

.mandatory
{
	color: #ff0000;
}

form div
{
	display: table-row;
}

form label
{
	display: table-cell;
}

form input
{
	display: table-cell;
}

table
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

th, td
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

th
{
	background-color: #aaaaaa;
}

table.noborder, table.noborder th, table.noborder td
{
	border-style: none;
	background-color: transparent;
}
